h1, h2, h3, h4, nav {
    font-family: 'Oswald', sans-serif;
}

p, input, button, footer {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #ffa101;
}

.jumbotron-fluid {
    background-image: url(images/hero-img.jpeg);
    background-size: cover;
    padding-bottom: 12%;
    padding-top: 5%;
}

address a {
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 2% 0% 2%;
}

#menu h3 {
    text-align: center;
    background-color: #ffa101;
    color: white;
    padding: 0.5%;
}

#menu {
    padding-top: 2%;
}

#menu .row {
    margin-bottom: 2%;
}

#about {
    padding-top: 2%;
    margin-bottom: 2%;
}

#about h1 {
    padding-bottom: 2%;
}

#location-hours {
    padding-top: 2%;
}

.lead {
    text-align: center;
    padding-top: 1%;
}

.form-row {
    padding-bottom: 1%;
}

button {
    margin-bottom: 3%;
}

.container-md {
    padding-top: 2%;
}

.col-sm-9, .col-sm-3 {
    background-color: #ffa101;
    margin-bottom: 1%;
}

.col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-6 {
    margin-bottom: 3%;
}

.col-sm-6 contact {
    background-color: #ffa101;
}

i {
    padding-right: 1%;
}

a {
    color: white;
}

a:hover {
    color: #ffa101;
}

footer {
    background-color: #333333;
    color: white;
    padding-top: 2%;
    margin-top: 2%;
}